.objective > h1 {
  text-align: center;

}
.objective {
  max-width: 100%;

}
.objective > ul > li {
  width: 100%;

}

.objective, .sm-content {
padding: 0px 10px 0px 20px;
}
.sm-content {
  max-width: 100%;
  font-size:17px;
}

.activity-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 360px) {

.activity-img {
margin: 0 auto;
}

}
